@import 'tailwindcss';

body {
  font-family: 'Josefin sans', sans-serif;
}
@theme {
  --background-gradient: linear-gradient(
    to right,
    hsl(192, 100%, 67%),
    hsl(280, 87%, 65%)
  );
  --color-main-bg: hsl(0, 0%, 98%);
  --color-card-bg: hsl(234, 39%, 85%);
  --color-primary: hsl(220, 98%, 61%);

  --color-navy-850: hsl(235, 19%, 35%);
  --color-gray-300: hsl(233, 11%, 84%);
  --color-gray-600: hsl(236, 9%, 61%);
}
@layer base {
  [data-theme='dark'] {
    --color-main-bg: hsl(235, 21%, 11%);
    --color-card-bg: hsl(235, 24%, 19%);
    --color-purple-300: hsl(234, 39%, 85%);
    --color-purple-100: hsl(236, 33%, 92%);
    --color-purple-600: hsl(235, 16%, 43%);
    --color-purple-700: hsl(233, 14%, 35%);
    --color-purple-800: hsl(237, 14%, 26%);
    --color-gray-600: hsl(236, 9%, 61%);
  }
}

.hero-bg {
  background-image: url('/bg-desktop-light.jpg');
}

[data-theme='dark'] .hero-bg {
  background-image: url('/bg-desktop-dark.jpg');
}

/* Mobile override */
@media (max-width: 640px) {
  .hero-bg {
    background-image: url('/bg-mobile-light.jpg');
  }

  [data-theme='dark'] .hero-bg {
    background-image: url('/bg-mobile-dark.jpg');
  }
}

.body-bg {
  background-color: var(--color-main-bg);
}
[data-theme='dark'] .body-bg {
  background-color: var(--color-main-bg);
}
